@import '../../../@theme/styles/themes';

@include nb-install-component() {


  .search-box {
    height: 50px;
    margin-bottom: 20px;
    border: solid 1.5px #e3e9ee;
  }


  .new-btn {
    float: right;
    margin-top: 4px;
    background: transparent;
    color: #73a1ff;
    border: solid 1px #73a1ff;
  }

  
}
