<nb-card>
  <nb-card-header>
    Merchants
  </nb-card-header>

  <nb-card-body>
    <div class="col-12 search-box">
          

      <a class="btn btn-primary btn-rectangle new-btn" [routerLink]="'../new-merchant'">CREATE NEW</a>
    </div>

    

    <ng2-smart-table [settings]="settings" [source]="source">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

