<nb-card>
  <nb-card-header>
    View User
  </nb-card-header>

  <nb-card-body>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <nb-alert status="{{alertStatus}}" *ngIf="isAlert">{{alertMessage}}</nb-alert>
          <form [formGroup]="updateUserForm" (ngSubmit)="onUpdateUserSubmit()">


            <div class="form-group">
              <label for="nameOfUser">Name of User</label>

              <input type="text" autocomplete="off" placeholder="Enter name of user" class="form-control" id="nameOfUser" formControlName="nameOfUser"
                     [ngClass]="{'form-control-danger': nameOfUser.invalid && (updateUserForm.dirty || updateUserForm.touched)}">
              <div class="alert alert-danger" *ngIf="nameOfUser.invalid && (updateUserForm.dirty || updateUserForm.touched)">
                Valid name required
              </div>
            </div>
            <div class="form-group">
              <label for="username">Username(Email)</label>

              <input type="email" autocomplete="off" placeholder="Enter username" class="form-control" id="username" formControlName="username"
                     [ngClass]="{'form-control-danger': username.invalid && (updateUserForm.dirty || updateUserForm.touched)}">
              <div class="alert alert-danger" *ngIf="username.invalid && (updateUserForm.dirty || updateUserForm.touched)">
                Valid username(email) required
              </div>

            </div>

            <div class="form-group">
              <label for="merchantId">Default Merchant</label>

              <select class="form-control" id="merchantId" formControlName="merchantId"
                      [ngClass]="{'form-control-danger': merchantId.invalid && (updateUserForm.dirty || updateUserForm.touched)}">
                <option value="" selected="selected">[SELECT]</option>
                <option *ngFor="let mer of merchants"
                        value={{mer.id}}>
                  {{mer.merchantName}}
                </option>
              </select>
              <div class="alert alert-danger" *ngIf="merchantId.invalid && (updateUserForm.dirty || updateUserForm.touched)">
                Default Merchant required
              </div>

            </div>






            <button class="btn btn-primary btn-rectangle search-btn"
                    [nbSpinner]="loadingSave" nbSpinnerStatus="primary" nbSpinnerSize="xsmall" nbSpinnerMessage="">
              UPDATE
            </button>

          </form>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="merchantsearch">Select Allowed Merchants</label>

            <input type="text" autocomplete="off" placeholder="Enter name of merchant" class="form-control" id="merchantsearch"
                   [(ngModel)]="merchantsearch" (keyup)="merchantSearch()">

          </div>
          <div class="form-group" *ngIf="merchantSearchList?.length > 0" style="position: absolute;width: 93%; z-index: 99;">

            <nb-card class="list-card" size="small" style="height:auto;">

              <nb-list>
                <nb-list-item *ngFor="let mer of merchantSearchList" (click)="selectMerchant(mer.id)">
                  <nb-user [name]="mer.merchantName" [title]="mer.merchantName">
                  </nb-user>
                </nb-list-item>
              </nb-list>
            </nb-card>

          </div>

          <div class="form-group" *ngIf="merchantListTmp?.length > 0">

            <nb-card class="list-card" size="small" style="height:auto;background-color: #b2b9c0 !important;">

              <nb-list>
                <nb-list-item *ngFor="let mer of merchantListTmp"  (click)="removeMerchant(mer.id)">
                  <i class="nb-close-circled">{{mer.merchantName}}</i> 
                </nb-list-item>
              </nb-list>
            </nb-card>

          </div>

        </div>
      </div>
    </nb-card-body>
  </nb-card-body>
</nb-card>



