<nb-card>
  <nb-card-header>
    Create New Request
  </nb-card-header>

  <nb-card-body>
    <nb-card-body>
      <div class="col-sm-6">

        <nb-alert status="{{alertStatus}}" *ngIf="isAlert">{{alertMessage}}</nb-alert>
        <form [formGroup]="newRequestForm" (ngSubmit)="onNewRequestSubmit()">

          <div class="form-group">
            <label for="partnerId">Partner</label>

            <select class="form-control" id="partnerId" formControlName="partnerId"
                    [ngClass]="{'form-control-danger': partnerId.invalid && (newRequestForm.dirty || newRequestForm.touched)}">
              <option value="" selected="selected">[SELECT]</option>
              <option *ngFor="let part of partners"
                      value={{part.id}}>
                {{part.partnerName}}
              </option>
            </select>

            <div class="alert alert-danger" *ngIf="partnerId.invalid && (newRequestForm.dirty || newRequestForm.touched)">
              Partner required
            </div>

          </div>

          <div class="form-group">
            <label for="reference">Title</label>

            <input type="text" autocomplete="off" placeholder="Enter title of request" class="form-control" id="orderTitle" formControlName="orderTitle"
                   [ngClass]="{'form-control-danger': orderTitle.invalid && (newRequestForm.dirty || newRequestForm.touched)}">
            <div class="alert alert-danger" *ngIf="orderTitle.invalid && (newRequestForm.dirty || newRequestForm.touched)">
              Valid title required
            </div>
          </div>

          <div class="form-group">
            <label for="reference">Reference</label>

            <input type="text" autocomplete="off" placeholder="Enter reference such as invoice number" class="form-control" id="reference" formControlName="reference"
                   [ngClass]="{'form-control-danger': reference.invalid && (newRequestForm.dirty || newRequestForm.touched)}">
            <div class="alert alert-danger" *ngIf="reference.invalid && (newRequestForm.dirty || newRequestForm.touched)">
              Valid reference required
            </div>
          </div>
          <div class="form-group">
            <label for="orderDetails">Details</label>

            <input type="text" autocomplete="off" placeholder="Enter details" class="form-control" id="orderDetails" formControlName="orderDetails"
                   [ngClass]="{'form-control-danger': orderDetails.invalid && (newRequestForm.dirty || newRequestForm.touched)}">
            <div class="alert alert-danger" *ngIf="orderDetails.invalid && (newRequestForm.dirty || newRequestForm.touched)">
              Details required
            </div>

          </div>

          <div class="form-group">
            <label for="amount">Amount</label>

            <input type="number" autocomplete="off" placeholder="Enter amount" class="form-control" id="amount" formControlName="amount"
                   [ngClass]="{'form-control-danger': amount.invalid && (newRequestForm.dirty || newRequestForm.touched)}">
            <div class="alert alert-danger" *ngIf="amount.invalid && (newRequestForm.dirty || newRequestForm.touched)">
              Valid amount required
            </div>

          </div>

          <div class="form-group">
            <label for="expiryHours">Expiry hours</label>

            <input type="number" autocomplete="off" placeholder="Enter expiry hours" class="form-control" id="expiryHours" formControlName="expiryHours"
                   [ngClass]="{'form-control-danger': expiryHours.invalid && (newRequestForm.dirty || newRequestForm.touched)}">
            <div class="alert alert-danger" *ngIf="expiryHours.invalid && (newRequestForm.dirty || newRequestForm.touched)">
              Valid expiry hours required
            </div>

          </div>


          <div class="form-group">
            <label for="expiryHours">Attachment</label>
            <input type="file" name="attachments" class="form-control" (change)="onFileSelect($event)" />

          </div>

        


          <button class="btn btn-primary btn-rectangle search-btn" 
                  [nbSpinner]="loadingSave" nbSpinnerStatus="primary" nbSpinnerSize="xsmall" nbSpinnerMessage="">
            SAVE
          </button> 

        </form>
      </div>


      
    </nb-card-body>
  </nb-card-body>
</nb-card>



