<nb-card>
  <nb-card-header>
    Create New Partner
  </nb-card-header>

  <nb-card-body>
    <nb-card-body>
      <div class="col-sm-6">

        <nb-alert status="{{alertStatus}}" *ngIf="isAlert">{{alertMessage}}</nb-alert>
        

        <form [formGroup]="newPartnerForm" (ngSubmit)="onNewPartnerSubmit()">


          <div class="form-group">
            <label for="partnerName">Partner Name</label>

            <input type="text" autocomplete="off" placeholder="Enter name of partner" class="form-control" id="partnerName" formControlName="partnerName"
                   [ngClass]="{'form-control-danger': partnerName.invalid && (newPartnerForm.dirty || newPartnerForm.touched)}">
            <div class="alert alert-danger" *ngIf="partnerName.invalid && (newPartnerForm.dirty || newPartnerForm.touched)">
              Valid name required
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>

            <input type="email" autocomplete="off" placeholder="Enter email" class="form-control" id="email" formControlName="email"
                   [ngClass]="{'form-control-danger': email.invalid && (newPartnerForm.dirty || newPartnerForm.touched)}">
            <div class="alert alert-danger" *ngIf="email.invalid && (newPartnerForm.dirty || newPartnerForm.touched)">
              Valid email required
            </div>

          </div>

          <div class="form-group">
            <label for="phone">Phone number</label>

            <input type="text" autocomplete="off" placeholder="Enter phone number" class="form-control" id="phone" formControlName="phone"
                   [ngClass]="{'form-control-danger': phone.invalid && (newPartnerForm.dirty || newPartnerForm.touched)}">
            <div class="alert alert-danger" *ngIf="phone.invalid && (newPartnerForm.dirty || newPartnerForm.touched)">
              Valid phone number required
            </div>

          </div>


          <div class="form-group">
            <label for="address">Address</label>

            <input type="text" autocomplete="off" placeholder="Enter address" class="form-control" id="address" formControlName="address"
                   [ngClass]="{'form-control-danger': address.invalid && (newPartnerForm.dirty || newPartnerForm.touched)}">
            <div class="alert alert-danger" *ngIf="address.invalid && (newPartnerForm.dirty || newPartnerForm.touched)">
              Enter a valid address
            </div>
          </div>



          <button class="btn btn-primary btn-rectangle search-btn"
                  [nbSpinner]="loadingSave" nbSpinnerStatus="primary" nbSpinnerSize="xsmall" nbSpinnerMessage="">
            SAVE
          </button>

        </form>
      </div>


      
    </nb-card-body>
  </nb-card-body>
</nb-card>



