<nb-card>
  <nb-card-header>
    Payment Requests
  </nb-card-header>

  <nb-card-body>
    <div class="col-12 search-box">
      <input nbInput placeholder="Date Range" [nbDatepicker]="rangepicker" [(ngModel)]="dateRange" class="date-picker-box input-rectangle">
      <nb-rangepicker #rangepicker></nb-rangepicker>
      <button class="btn btn-primary btn-rectangle search-btn" (click)="loadPayRequests()"
              [nbSpinner]="loadingSearch" nbSpinnerStatus="primary" nbSpinnerSize="xsmall" nbSpinnerMessage="">Search</button>

    </div>

    

    <ng2-smart-table [settings]="settings" [source]="source">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

