@import '../../../@theme/styles/themes';

@include nb-install-component() {


  .search-box {
    height: 50px;
    margin-bottom: 20px;
    border: solid 1.5px #e3e9ee;
  }

  .date-picker-box {
    margin-top: 4px;
    margin-left: -12px;
    border: none;
    width: 220px;
  }

  .new-btn {
    float: right;
    margin-top: 4px;
    background: transparent;
    color: #73a1ff;
    border: solid 1px #73a1ff;
  }

  .search-btn {
    margin-top: 3px;
  }
}
