<nb-card>
  <nb-card-header>
    View Request
  </nb-card-header>

  <nb-card-body>
    <nb-card-body>
      <div class="col-sm-6">

        <nb-alert status="{{alertStatus}}" *ngIf="isAlert">{{alertMessage}}</nb-alert>
        <div>

          <div class="row">
            <div class="col-md-4">
              <button class="btn btn-danger btn-rectangle search-btn" (click)="onDeactivateRequestSubmit()"
                      *ngIf="(request.requestStatus =='CREATED' || request.requestStatus =='SENT') && request.isExpired=='False'"
                      [nbSpinner]="loadingDecativate" nbSpinnerStatus="primary" nbSpinnerSize="xsmall" nbSpinnerMessage="">
                DEACTIVATE
              </button>
            </div>

            <div class="col-md-4">
              <button class="btn btn-primary btn-rectangle search-btn" (click)="onSendRequestSubmit()"
                      *ngIf="(request.requestStatus =='CREATED' || request.requestStatus =='SENT') && request.isExpired=='False'"
                      [nbSpinner]="loadingSend" nbSpinnerStatus="primary" nbSpinnerSize="xsmall" nbSpinnerMessage="">
                SEND REQUEST
              </button>
            </div>
          </div>

          <hr />


          <div class="form-group">
            <label>Partner</label>

            <input type="text" autocomplete="off" disabled
                   class="form-control" value="{{request.partnerName}}({{request.email}})">

          </div>



          <div class="form-group">
            <label>Title</label>

            <input type="text" autocomplete="off" disabled
                   class="form-control" value="{{request.orderTitle}}">

          </div>

          <div class="form-group">
            <label>Reference</label>

            <input type="text" autocomplete="off" disabled
                   class="form-control" value="{{request.reference}}">

          </div>
          <div class="form-group">
            <label>Details</label>

            <input type="text" autocomplete="off" disabled
                   class="form-control" value="{{request.orderDetails}}">


          </div>

          <div class="form-group">
            <label>Amount</label>

            <input type="number" autocomplete="off" disabled
                   class="form-control" value="{{request.amount}}">


          </div>

          <div class="form-group">
            <label>Date</label>

            <input type="text" autocomplete="off" disabled
                   class="form-control" value="{{request.createdDate}}">

          </div>

          <div class="form-group">
            <label>Expiry date</label>

            <input type="text" autocomplete="off" disabled
                   class="form-control" value="{{request.expiryDate}}">

          </div>


          <div class="form-group">
            <label>Request Id</label>

            <input type="text" autocomplete="off" disabled
                   class="form-control" value="{{request.requestGuid}}">

          </div>
          <div class="form-group">
            <label>Status</label>

            <input type="text" autocomplete="off" disabled
                   class="form-control" value="{{request.requestStatus}}">

          </div>
          <div class="form-group">
            <label>History</label>


            <textarea rows="3" disabled class="form-control">
                {{request.history}}
           </textarea>

          </div>
          <div class="form-group">
            <label>Payment link</label>

            <input type="text" autocomplete="off" disabled
                   class="form-control" value="{{request.paymentLink}}">

          </div>

          <div class="form-group">
            <label>Payment Reference</label>

            <input type="text" autocomplete="off" disabled
                   class="form-control" value="{{request.requestGuid}}">

          </div>

          <div class="form-group">
            <label>Merchant</label>

            <input type="text" autocomplete="off" disabled
                   class="form-control" value="{{request.merchantName}}">

          </div>



        </div>


      </div>


      
    </nb-card-body>
  </nb-card-body>
</nb-card>



