@import '../../../@theme/styles/themes';

@include nb-install-component() {
  /deep/ nb-stepper .step-content {
    text-align:left;

    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }
}
