<nb-card>
  <nb-card-header>
    Create New Merchant
  </nb-card-header>

  <nb-card-body>
    <nb-card-body>
      <div class="col-sm-6">

        <nb-alert status="{{alertStatus}}" *ngIf="isAlert">{{alertMessage}}</nb-alert>
        

        <form [formGroup]="updateMerchantForm" (ngSubmit)="onUpdateMerchantSubmit()">


          <div class="form-group">
            <label for="merchantName">Merchant Name</label>

            <input type="text" autocomplete="off" placeholder="Enter name of merchant" class="form-control" id="merchantName" formControlName="merchantName"
                   [ngClass]="{'form-control-danger': merchantName.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)}">
            <div class="alert alert-danger" *ngIf="merchantName.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)">
              Valid name required
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>

            <input type="email" autocomplete="off" placeholder="Enter email" class="form-control" id="email" formControlName="email"
                   [ngClass]="{'form-control-danger': email.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)}">
            <div class="alert alert-danger" *ngIf="email.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)">
              Valid email required
            </div>

          </div>

          <div class="form-group">
            <label for="phone">Phone number</label>`

            <input type="text" autocomplete="off" placeholder="Enter phone number" class="form-control" id="phone" formControlName="phone"
                   [ngClass]="{'form-control-danger': phone.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)}">
            <div class="alert alert-danger" *ngIf="phone.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)">
              Valid phone number required
            </div>

          </div>


          <div class="form-group">
            <label for="address">Address</label>

            <input type="text" autocomplete="off" placeholder="Enter address" class="form-control" id="address" formControlName="address"
                   [ngClass]="{'form-control-danger': address.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)}">
            <div class="alert alert-danger" *ngIf="address.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)">
              Enter a valid address
            </div>
          </div>

          <div class="form-group">
            <label for="currency">Currency</label>

            <input type="text" autocomplete="off" placeholder="Enter currency" class="form-control" id="currency" formControlName="currency"
                   [ngClass]="{'form-control-danger': currency.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)}">
            <div class="alert alert-danger" *ngIf="currency.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)">
              Valid currency required
            </div>
          </div>

          <div class="form-group">
            <label for="cyb_mid">Gateway MID</label>

            <input type="text" autocomplete="off" placeholder="Enter MID" class="form-control" id="cyb_mid" formControlName="cyb_mid"
                   [ngClass]="{'form-control-danger': cyb_mid.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)}">
            <div class="alert alert-danger" *ngIf="cyb_mid.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)">
              Valid MID required
            </div>
          </div>

          <div class="form-group">
            <label for="cyb_transactionKey">Cyb Transaction Key</label>

            <input type="text" autocomplete="off" placeholder="Enter Cyb Transaction Key" class="form-control" id="cyb_transactionKey" formControlName="cyb_transactionKey"
                   [ngClass]="{'form-control-danger': cyb_transactionKey.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)}">
            <div class="alert alert-danger" *ngIf="cyb_transactionKey.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)">
              Enter a valid Cyb Transaction Key
            </div>
          </div>

          <div class="form-group">
            <label for="baseUrl">Base URL</label>

            <input type="text" autocomplete="off" placeholder="Enter base Url" class="form-control" id="baseUrl" formControlName="baseUrl"
                   [ngClass]="{'form-control-danger': baseUrl.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)}">
            <div class="alert alert-danger" *ngIf="baseUrl.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)">
              Enter a valid Base URL
            </div>
          </div>

          <div class="form-group">
            <label for="bccEmailList">BCC Email List</label>

            <input type="text" autocomplete="off" placeholder="Enter BCC Email List comma seperated" class="form-control" id="baseUrl" formControlName="bccEmailList"
                   [ngClass]="{'form-control-danger': bccEmailList.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)}">
            <div class="alert alert-danger" *ngIf="baseUrl.invalid && (updateMerchantForm.dirty || updateMerchantForm.touched)">
              Enter a valid BCC Email List
            </div>
          </div>

          <button class="btn btn-primary btn-rectangle search-btn"
                  [nbSpinner]="loadingSave" nbSpinnerStatus="primary" nbSpinnerSize="xsmall" nbSpinnerMessage="">
            SAVE
          </button>

        </form>
      </div>


      
    </nb-card-body>
  </nb-card-body>
</nb-card>



